.login {
  width: 500px;
  margin: 125px auto 0px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login h1 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.form label {
  font-size: 22px;
  margin: 20px 0;
}

.form input {
  height: 28px;
  border: 2px solid #e2e2e2;
  border-radius: 15px;
  background-color: #f7f7f7;
  color: #777777;
  font-size: 20px;
  padding-left: 10px;
}

.form input:focus {
  outline: none;
}

.register {
  width: 500px;
  margin: 50px auto;
  border: 2px solid #e2e2e2;
  padding: 20px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}

.register h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.register h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.register h3 {
  font-size: 18px;
  font-weight: 400;
}

.register a {
  background-color: #f7f7f7;
  font-size: 20px;
  font-weight: 600;
  height: 32px;
  width: 150px;
  margin: 25px auto 0px;
  border: 2px solid #e2e2e2;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
}

.register a:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

.btn {
  margin: 20px auto;
  width: 200px;
}
