.card {
  flex: 0 1 calc(20% - 2em);
  margin: 1em;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(226, 226, 226);
  border-radius: 20px;
}

.info img {
  width: 80%;
  aspect-ratio: 2/3;
  align-items: center;
  margin: 40px auto;
  object-fit: contain;
}

.info a {
  font-size: 14px;
  font-weight: 700;
  margin: 10px auto;
  text-decoration: none;
}

.info h2 {
  font-size: 16px;
  font-weight: 700;
  color: #99c99e;
  margin: auto auto 20px;
}

@media screen and (max-width: 1024px){
  .card {
    flex: 0 1 calc(100% / 3 - 2em);
  }
}

@media screen and (max-width: 1024px){
  .card {
    flex: 0 1 calc(100% / 2 - 2em);
  }
}
