@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    min-height: 100vh;
}

html, a {
    font-family: 'Open Sans', sans-serif;
    color: #2d2d2d;
}