.container {
  box-sizing: border-box;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0px 16px;
}

.info h1 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 12px;
}

.info h2 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 16px;
}

.info h3 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
}

.info#bag h1 {
  font-size: 30px;
  font-weight: 600;
}

.info#bag h2 {
  font-size: 30px;
  font-weight: 400;
}

.info#bag h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.counter#bag button {
  width: 45px;
  height: 45px;
  justify-content: space-between;
}

.counter#bag h1 {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.right_panel {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
}

.prevPhoto {
  object-fit: contain;
  width: 100px;
  height: 100px;
  padding: 15px;
  margin: auto 0px;
}

.prevPhoto#bag {
  width: 200px;
  height: 288px;
}

.right_panel h4 {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.counter {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.counter button {
  border: 1px solid #1d1f22;
  background-color: white;
  width: 24px;
  height: 24px;
  font-size: 20px;
  padding: 0;
}

.counter button:hover {
  cursor: pointer;
}

.arrows {
  position: absolute;
  right: 8px;
  bottom: 0px;
}

.arrows img {
  margin-right: 6px;
  width: 25px;
  height: 25px;
}

.arrows img:hover {
  cursor: pointer;
}
