.container {
  width: 650px;
  margin: 125px auto 0px;
}

.container h1 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0px 10px;
}

.container label {
  font-size: 18px;
  font-weight: 600;
}

.input {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.container input {
  height: 20px;
  border: 2px solid #e2e2e2;
  border-radius: 15px;
  background-color: #f7f7f7;
  color: #777777;
  font-size: 18px;
  padding-left: 10px;
  width: 65%;
}

.container input:focus {
  outline: none;
}

